
@{
    ViewBag.Title = "HW1";
}
<br>
<h4>姓名: <input type="text" name="name" value="" /></h4>
<br>    
<h4>帳號: <input type="text" name="name" value="" /></h4>
<br>
<h4>密碼: <input type="text" name="name" value="" /></h4>
<br>
<h4>性別: <input type="radio" name="gender" value="A">男性  <input type="radio" name="gender" value="B">女性</h4>
<br>
<h4>興趣: <input type="checkbox" name="name" value="A">游泳  <input type="checkbox" name="name" value="B">閱讀 <input type="checkbox" name="name" value="B">看電影</h4>
<br>
<h4>自我介紹: <textarea name="message"rows="4"cols="19"></textarea>  
    


