
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>帳號</p><input type="text" name="name" value="帳號:" />
<p>密碼</p><input type="password" name="name" value="" />
<input type="submit" name="name" value="登入" />

